
NonGit/
PythonPackageCache/
Runs_/
notebooks_private/
data/MNIST/
data/GeneExpression/
weights/
.ipynb_checkpoints/
.vscode/
*__pycache__/
*.log
output/
wandb/
*.h5ad
*.pkl
*.pth
*.pt
*.csv
*.zip
*.out

